.sign-out-ad {
    box-shadow: 2px 3px 30px rgba(15, 15, 15, 0.84);
    max-width: 75%;
    margin-top: 90px !important;
    height: 60vh !important;
    border-radius: 8px;
}

.logo {
    color: #21ba45 !important;
}
 