.sign-out-ad {
  max-width: 75%;
  margin-top: 90px !important;
  height: 60vh !important;
  border-radius: 8px;
}

.logo {
  color: #a333c8 !important;
}

.ui.modal > .header {
  background-image: linear-gradient(
    45deg,
    #1b1826 20%,
    #272336,
    60%,
    #1e1a2e 90%
  ) !important;
}

.ui.modal > .content {
  background-color: rgb(200, 200, 200) !important;
}

 {
  background: rgba(147, 147, 147, 0.188) !important;
}

input {
  background-color: #efefefea !important;
}

 {
  background-image: linear-gradient(45deg, #140e17 10%, #12101b 90%) !important;
  font-color: #efefefea !important;
  font-variant-caps: all-petite-caps !important;
  font-size: 20px !important;
}
