 
.artist-image-container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 10px !important;
  min-width: 370px !important;
}

.artist-image-container-device {
  padding: 0px !important;
  margin: 0px !important;
}

.artist-image {
  transition: all 0.2s;
  opacity: 88%;
 
}

.prev-button {
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 44px !important;
  color:rgba(242, 242, 242, 0.698);
  cursor: pointer;
    transition: all 0.2s;

}

.prev-button:hover {
    transition: all 0.2s;
    color:rgba(242, 242, 242, 0.813);
}

.artist-image-mobile {
  max-height: 300px !important;
  min-width: 100% !important;
}

.artist-image-device {
  min-height: 300px !important;
  min-width: 98% !important;
}

.artist-card {
  background-color: #0b0b0b !important;
  border-radius: 4.5px !important;
  transition: all 0.2s;
  padding:  0px !important;
  margin: 0px 10px 40px !important;
  min-width: 14% !important;
  overflow: hidden !important;
}

.artist-page-grid {
  box-shadow: none !important;
}

.artist-image:hover {
  transition: 0.2s;
  opacity: 100%;
}

.artist-name {
  color: #e2e1e3d6 !important;
  padding: 8px !important;
  font-size: 16px;
  font-weight: lighter;
  font-variant-caps: all-petite-caps;
}

.artist-image:hover + .artist-name {
  transition: 0.2s;
  color: rgb(242, 242, 242) !important;
}

.artist-view-image {
  opacity: 86% !important;
  border-style: solid;
  border-width: 5px;
  border-radius: 3%;
  border-color: rgb(8, 8, 8);
  box-shadow: 0px 0px 30px rgb(17, 17, 17);
}

.image-group {
  padding: 40px;
}

.artist-albums-container {
  padding: 0px 40px !important;
  margin-top: 0px !important;
}

.album-card {
  background-color: #232323;
  box-shadow: none !important;
  overflow: hidden !important;
  min-height: 200px !important;
  margin: 18px 16px !important;
  min-width: 12% !important;
}

/* .prev-icon {
  color: #e2e1e349 !important;
  cursor: pointer;
  padding-left: 30px;
  transition: 0.2s;
} */

/* .prev-icon:hover {
  transition: 0.2s;
  color: #e2e1e3d6 !important;
} */

.ui.inverted.form input:not([type]), .ui.inverted.form input[type=date], .ui.inverted.form input[type=datetime-local], .ui.inverted.form input[type=email], .ui.inverted.form input[type=file], .ui.inverted.form input[type=number], .ui.inverted.form input[type=password], .ui.inverted.form input[type=search], .ui.inverted.form input[type=tel], .ui.inverted.form input[type=text], .ui.inverted.form input[type=time], .ui.inverted.form input[type=url] {
    background: #000;
    border-color: rgba(103, 102, 102, 0.208);
    color: #e2e1e3d6;
 
 
}



.album-header {
  color: #e2e1e3d6 !important;
  padding: 10px 8px 0px;
  font-size: 14px !important;
  font-weight: bolder;
  min-height: 70px;
}

.album-meta {
  color: #e2e1e38d !important;
  padding: 0px 10px 8px;
  margin: 0px !important;
  font-size: 14px !important;
  font-weight: lighter;
}

.album-cover-img {
  max-height: 300px;
  max-width: 300px;
}

.artist-image-container-two {
  box-shadow: none !important;
  border-radius: 50% !important;
  overflow: hidden !important;
}

.cover-photo {
  min-height: 405px;

  transition: all 0.2s;
  opacity: 88%;
}

.device {
  display: none !important;
}

.track-row {
  cursor: pointer;
 
}

.track-row:hover {
  background-color: #0b0b0b !important;
}

.track-row:hover > i {
  color: #21b744;
}

 
.top-tracks-container {
  padding-right: 40px !important;
  
}

@media screen and (max-width: 766px) {
  .artist-image {
    min-height: 220px !important;
  }

 .artist-name {
  font-size: 20px !important;
  padding: 14px !important;
 }
  .artist-name-device {
    font-size: 20px !important;
  }

  .artist-card {
    margin: 50px 10px !important;
  }

  .album-card {
    margin: 30px 10px !important;
    width: 18% !important;
  }

  .artist-image-device {
    min-height: 340px !important;
    min-width: 96% !important;
  }

  .album-header {
    padding: 10px 10px 3px !important;
    font-size: 16px !important;
    min-height: 46px !important;
  }

  .album-meta {
    font-size: 16px !important;
    padding: 0px 10px 6px !important;
  }

  .album-group {
    padding: 10px 10px 10px !important;
  }

  .artist-albums-container {
    padding: 4px 30px !important;
  }

  .tracks-list {
    max-width: 800px !important;
  }

  .top-tracks-container {
    padding: 0px 20px !important;
    margin-top: 0px !important;
  }

  .device {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 378px) {
  .artist-image-device {
    border-radius: 50% !important;
  }

  .artist-image-mobile {
    margin: 30px 0px !important;
    border-radius: 50% !important;
    min-height: 260px !important;
  }

  .artist-card {
    background-color: transparent !important;
  }

  .artist-name {
    padding: 10px !important;
    margin-top: -20px !important;
    font-size: 24px;
  }

  .searchbar-mobile {
    min-width: 100% !important;
  }
}
