.nav-bar {
    background: linear-gradient(200deg, #25536f, #183b77,  #313174, rgb(46, 27, 88), #1e1541, #1d2c5d,  #283a73 );
}

 

.nav-links {
    color: #d7d7d7 !important;
    font-size: 16px;
    letter-spacing: .4px;
    font-variant-caps: all-petite-caps;
    transition: 0.2s ease-in, 0.2s ease-out;
}

span {
    color: #d7d7d7 !important;

}

 

.nav-links:hover {
    color: #bdbdbd !important;
    transition: 0.2s ease-in, 0.2s ease-out;
}


.logo {
    transition: 0.2s ease-in, 0.2s ease-out;
}

.logo:hover {
    color: #0cac6b !important;
    cursor: pointer;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: 0.2s ease-in, 0.2s ease-out;
    transition: 0.9s;
    transform: rotateY(180deg);

}

.logout-btn {
    min-width: 130px !important;
}

.device {
    display: none !important;
}

@media screen and (max-width: 766px) {
    .device {
        display: flex !important;
    }

    .desktop {
        display: none !important;
    }
}
