.footer-menu {
  background-image: linear-gradient(
    190deg,
    rgb(20, 13, 36),
    rgb(14, 14, 14),
    rgb(1, 1, 1)
  ) !important;
}

.ui.menu.fixed {
  z-index: 999 !important;
}

.play-btn {
  transition: 0.2s ease-in, 0.2s ease-out;
}

.play-btn:hover {
  color: #fafafad6 !important;
  transition: 0.2s ease-in, 0.2s ease-out !important;
}

.timeline-wrapper {
  min-width: 36vw;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  min-width: 90%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.progress {
  height: 4px;
  min-width: 400px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#progress {
  background: #333;
  -webkit-border-radius: 13px;
  height: 10px;
  width: 70%;
  padding: 3px;
}

#progress-value {
  background: orange;
  width: 5%;
  height: 100%;
  -webkit-border-radius: 9px;
}
::-webkit-progress-bar {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-image: linear-gradient(to right, #5e6ad5, #5ed5c7);
  border-radius: 5px;

  background-size: 100% !important;
}

input[type="range"] {
  -webkit-appearance: none;

  width: 130px;
  height: 3px;
  background: rgba(255, 255, 255, 0.788);
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #6d79ea, #4f58a9 );
  background-size: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #6d79ea;
  cursor: pointer;

  box-shadow: 0 0 2px 0 #555;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #5c66c5;
  transition: 0.2s ease-in-out;
}

.song-title {
  font-size: 19px !important;
  font-weight: 900 !important;
  background-image: linear-gradient(
    45deg,
    rgb(209, 209, 209),
    #bcbcbc
  ) !important;
  background-size: 100% !important;
  background-repeat: repeat !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
  animation: slidebg 250s linear infinite alternate !important;
  padding: 0px;
  margin: 0px;
 
}

@keyframes slidebg {
  to {
    background-position: 80vw;
  }
}

@keyframes timeline {
  to {
    background-position: 80vw;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 766px) {
  .music-player-menu {
    padding: 0px 40px !important;
  }

  .middle.aligned.row {
    display: none;
  }

  .play-btn-wrapper {
    padding: 0px 10px 5px 10px !important;
  }

  .timeline-wrapper {
    min-width: 80vw !important;
  }

  progress {
    min-width: 60vw !important;
  }

  .song-title {
    font-size: 20px !important;
    padding: 0px !important;
  }
  .artist {
    padding: 0px !important;
    margin-top: 10px !important;
    font-size: 11px !important;
    letter-spacing: 1px !important;
    font-weight: lighter !important;
    font-family: Lato;
  }

  #seekObjContainer {
    padding: 0px;
  }

  .middle.aligned.row {
    padding: 0px !important;
  }
}
